.HelloWorld_Form2 {
	left: -1px;
	top: -1px;
}
.HelloWorld_Form2 .Form2 {
	width: 330px;
	height: 178px;
	overflow: hidden;
}
.HelloWorld_Form2 .label3 {
	white-space: nowrap;
	overflow: hidden;
	font-family: "Arial";
	font-size: 26.1px;
	font-weight: bold;
	left: 125px;
	top: 9px;
	position: absolute;
	width: auto;
	height: auto;
}
.HelloWorld_Form2 .panel1 {
	background-color: rgba(153, 180, 209, 1);
	left: 12px;
	top: 51px;
	position: absolute;
	width: 306px;
	height: 115px;
	overflow: hidden;
}
.HelloWorld_Form2 .label1 {
	white-space: nowrap;
	overflow: hidden;
	font-family: "Microsoft Sans Serif";
	font-size: 14.4px;
	left: 7px;
	top: 14px;
	position: absolute;
	width: auto;
	height: auto;
}
.HelloWorld_Form2 .textBox1 {
	left: 109px;
	top: 16px;
	position: absolute;
	width: 177px;
	height: 20px;
}
.HelloWorld_Form2 .label2 {
	white-space: nowrap;
	overflow: hidden;
	font-family: "Microsoft Sans Serif";
	font-size: 14.4px;
	left: 7px;
	top: 45px;
	position: absolute;
	width: auto;
	height: auto;
}
.HelloWorld_Form2 .textBox2 {
	left: 109px;
	top: 47px;
	position: absolute;
	width: 177px;
	height: 20px;
}
.HelloWorld_Form2 .button1 {
	background-color: DarkBlue;
	font-family: "Microsoft Sans Serif";
	font-size: 17.1px;
	left: 11px;
	top: 73px;
	position: absolute;
	width: 275px;
	height: 36px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.HelloWorld_Form2 .button1:enabled {
	color: White;
}

