.HelloWorld_Form1 {
	left: -1px;
	top: -1px;
}
.HelloWorld_Form1 .Form1 {
	width: 398px;
	height: 143px;
	overflow: hidden;
}
.HelloWorld_Form1 .label1 {
	white-space: nowrap;
	overflow: hidden;
	font-family: "Arial";
	font-size: 31.5px;
	font-weight: bold;
	left: 12px;
	top: 25px;
	position: absolute;
	width: auto;
	height: auto;
}
.HelloWorld_Form1 .button1 {
	font-family: "Arial";
	font-size: 17.1px;
	left: 12px;
	top: 78px;
	position: absolute;
	width: 116px;
	height: 50px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.HelloWorld_Form1 .button2 {
	font-family: "Arial";
	font-size: 17.1px;
	left: 134px;
	top: 78px;
	position: absolute;
	width: 116px;
	height: 50px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}

