<div *ngIf="model">
  <wm-window [model]="model" id="Form1" class="HelloWorld_Form1">
    <ng-template let-model>
      <div class="Form1">
        <wm-label id="label1" tabindex="1" class="label1" [model]="model.label1">My First Sample</wm-label>
        <wm-button id="button1" tabindex="1" class="button1" [model]="model.button1"></wm-button>
        <wm-button id="button2" tabindex="3" class="button2" [model]="model.button2"></wm-button>
        <wm-button id="button3" tabindex="4" class="button3" [model]="model.button3"></wm-button>
      </div>
    </ng-template>
  </wm-window>
</div>
